<head>
  <title>home</title>
  <style>
    .form-container {
      display: flex;
    }

    .form-container form {
      margin: 10px;
    }
  </style>
</head>
<body>
  <h1>Hi stranger</h1>
  <div id="msg">Please log-in or log-up</div>
  <div id="forms" class="form-container">
    <form onsubmit="login(event)" id="login-form">
    <!-- <form action="/api/check_member_exist" method="POST" id="login-form"> -->
      <label>Log-in</label>
      <p>email</p>
      <input type="text" id="login-email">
      <p>password</p>
      <input type="password" id="login-password">
      <br>
      <button type="submit">log-in</button>
    </form>
    <form onsubmit="logup(event)" id="logup-form">
      <label>Log-up</label>
      <p>email</p>
      <input type="text" id="logup-email">
      <p>password</p>
      <input type="password" id="logup-password">
      <br>
      <button type="submit">log-up</button>
    </form>
  </div>
  <script src="static/home.js"></script>
</body>