/* =================================
  Base Element Styles
==================================== */

ul {
	list-style: none;
}

h2 {
	text-align: center;
}

.main-header {
	background-color: #f0f0f0;
	display: flex;
	justify-content: space-between;
}

.web-title {
	text-align: center;
	vertical-align: middle;
}

.main-nav {
	margin-top: 5px;
	display: inline-flex;
	justify-content: center;
	align-content: center;
	margin: 1% 0% 1%;
}

.main-nav li {
	text-align: center;
	display: block;
	padding: 10px 15px;
}

.main-banner {
	background-color: #dae6ed;
}

.main-banner h1 {
	margin-top: 0px;
	padding-top: 3%;
	padding-bottom: 3%;
	text-align: center;
}

.btn-div {
	margin: auto;
	text-align: center;
}

.contents {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 10px auto;
	justify-content: center;
	padding: 0;
}

.contents li {
	text-align:start;
	padding-top: 0px;
	padding-bottom: 80px;
	padding-left: 200px;
	padding-right: 200px;
	margin: 10px 5px;
	background-color: #97a2b3;
}

.action-btn {
	background-color: #dae6ed;
	padding: 10px 15px;
}

.hide {
	display: none;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 1200px) {
	.contents {
		width: 1200px;
	}
}
